<%- include('../layout/adminLayout/adminHeader.ejs') %>

<div class="container-xxl position-relative bg-white d-flex p-0">
  <div
    id="spinner"
    class="bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center"
    style="display: none"
  >
    <div
      class="spinner-border text-primary"
      style="width: 3rem; height: 3rem"
      role="status"
    >
      <span class="sr-only">Loading...</span>
    </div>
  </div>

  <div class="sidebar pb-5 bg-light">
    <nav class="navbar bg-light navbar-light">
      <a href="index.html" class="navbar-brand mx-4 mb-3">
        <h4 class="text-dark">Dashboard</h4>
      </a>
      <div class="d-flex align-items-center ms-4 mb-4">
        <div class="position-relative">
          <img
            class="rounded-circle"
            src="/images/men.jpg"
            alt=""
            style="width: 40px; height: 40px"
          />
          <div
            class="bg-success rounded-circle border border-2 border-white position-absolute end-0 bottom-0 p-1"
          ></div>
        </div>
        <div class="ms-3">
          <h6 class="mb-0">Admin</h6>
        </div>
      </div>
      <div class="navbar-nav w-100">
        <a href="/admin/dashboard" class="nav-item nav-link"
          ><i class="fa fa-tachometer-alt me-2"></i>Dashboard</a
        >
        <a href="/admin/products" class="nav-item nav-link"
          ><i class="fa fa-file me-2"></i>Product</a
        >
        <a href="/admin/category-page" class="nav-item nav-link"
          ><i class="fa fa-th me-2"></i>Category</a
        >
        <a href="/admin/user-details" class="nav-item nav-link"
          ><i class="fa fa-user me-2"></i>Users</a
        >
        <a href="/admin/userOrders" class="nav-item nav-link"
          ><i class="fa fa-table me-2"></i>Orders</a
        >
        <a href="/admin/coupon" class="nav-item nav-link"
          ><i class="fa fa-envelope me-2"></i>Coupon</a
        >
        <a href="/admin/banners" class="nav-item nav-link"
          ><i class="fa fa-image me-2"></i>Banners</a
        >
        <a href="/admin/sales-report" class="nav-item nav-link"
          ><i class="fa fa-keyboard me-2"></i>Sales Report</a
        >
        <a href="/admin/adminLogout" class="nav-item nav-link"
          ><i class="fa fa-user me-2"></i>Logout</a
        >
      </div>
    </nav>
  </div>

  <div class="content">
    <nav
      class="navbar navbar-expand bg-light navbar-light sticky-top px-4 py-0"
    >
      <a href="#" class="sidebar-toggler flex-shrink-0">
        <i class="fa fa-bars"></i>
      </a>
      <div class="navbar-nav align-items-center ms-auto">
        <div class="nav-item dropdown"></div>
      </div>
    </nav>
    <script>
      // Function to show the spinner
      function showSpinner() {
        const spinner = document.getElementById("spinner");
        if (spinner) {
          spinner.style.display = "block";
        }
      }
      // Function to hide the spinner
      function hideSpinner() {
        const spinner = document.getElementById("spinner");
        if (spinner) {
          spinner.style.display = "none";
        }
      }
      // Example usage:
      // Call showSpinner() before starting an asynchronous operation.
      // Call hideSpinner() when the operation is complete.
    </script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <div
      style="
        display: flex;
        justify-content: center;
        font-family: 'Times New Roman', Times, serif;
        font-weight: bold;
        margin-top: 50px;
        color: #2b2d42;
      "
    >
      <h2>PRODUCTS MANAGEMENT</h2>
    </div>

    <main id="site-main">
      <div class="container">
        <div class="box-nav d-flex" style="display: flex; justify-content: end">
          <a href="/admin/add-products" class="border-shadow">
            <span class="text-gradient"
              >Add Products<i class="fa-solid fa-user"></i>
            </span>
          </a>
        </div>
        <form action="/admin/edit-product/<%= productData._id %>" method="post">
          <!-- Display products here -->
          <table class="table" style="margin-top: 2rem">
            <thead class="thead-dark">
              <tr>
                <th>Product Name</th>
                <th>Category</th>
                <th>Image</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Actions</th>
              </tr>
            </thead>

            <tbody>
              <script>
                // Function to handle the delete action
                function handleDelete(productId) {
                  Swal.fire({
                    title: "Are you sure?",
                    text: "You won't be able to revert this!",
                    icon: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#3085d6",
                    cancelButtonColor: "#d33",
                    confirmButtonText: "Yes, delete it!",
                  }).then((result) => {
                    if (result.isConfirmed) {
                      // Redirect to the delete route if confirmed
                      window.location.href = `/admin/remove-product/${productId}`;
                    }
                  });
                }
              </script>

              <% productData.forEach((product) => { %>
              <tr>
                <td><%=product.name %></td>
                <td><%=product.category %></td>
                <td>
                  <img
                    class="product-image"
                    src="/images/<%=product.image %>"
                    alt="<%= product.name %>"
                  />
                </td>

                <td>₹<%= product.price %></td>
                <td><%= product.quantity %></td>
                <td>
                  <a
                    href="/admin/edit-product/<%= product._id %>"
                    class="btn border-shadow update"
                  >
                    <span class="text-gradient"
                      ><i class="fas fa-pencil-alt"></i
                    ></span>
                  </a>
                  <a
                    href="javascript:void(0);"
                    onclick="handleDelete('<%= product._id %>')"
                    class="btn border-shadow delete"
                  >
                    <span class="text-gradient"
                      ><i class="fas fa-trash-alt" style="color: #ff0a23"></i
                    ></span>
                  </a>
                </td>
              </tr>
              <% }); %>
            </tbody>
          </table>
        </form>
        <!-- End of product display -->
      </div>
    </main>
  </div>
</div>

<style>
  @import url("https://fonts.googleapis.com/css2?family=Barlow&family=PT+Sans&display=swap");

  :root {
    --dark: #2b2d42;
    --light: #abd5bd;
    --border: #dee2e6;
    --border-btn: #edf2f4;
  }

  .product-image {
    width: 30px; /* Set your desired width */
    height: auto; /* This ensures the aspect ratio is maintained */
  }

  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  a {
    text-decoration: none;
    font-family: "PT Sans", sans-serif;
  }

  .container {
    max-width: 1024px;
    margin: auto;
  }

  .nav-brand {
    font-size: 1.5em;
    font-weight: bold;
  }
  .d-flex {
    display: flex;
    flex-wrap: wrap;
  }

  .justify-between {
    justify-content: space-between;
  }
  .text-center {
    text-align: center;
  }

  .border-shadow {
    border: 1px solid var(--border-btn);
    box-shadow: 1px 3px 10px #e9ecef;
  }

  .text-dark {
    color: var(--dark);
  }

  .inline {
    display: inline-block;
  }

  .text-light {
    color: var(--light);
  }

  .text-gradient {
    background: linear-gradient(to right, #8e2de2, #4a00e0);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: none;
  }

  #header nav {
    background-color: #06d6a0;
    padding: 1em 0;
    width: 100%;
  }

  #site-main {
    margin-top: 6em;
    font-family: "Barlow", sans-serif;
  }

  #site-main .container .box-nav > a {
    font-size: 1em;
    padding: 0.5em 1em;
  }

  #site-main .container form {
    margin: 2em 0;
  }

  table {
    border-spacing: 0px;
    width: 100%;
  }

  .table td,
  .table th {
    padding: 0.75em;
    vertical-align: top;
    text-align: center;
    border-top: 1px solid var(--border);
  }

  .table td > a.btn {
    padding: 0.3em 1em;
    font-size: 1.1em;
    margin: 0 0.2em;
  }

  .table tr:hover {
    background-color: #bcff48;
  }

  .table tr:hover td > a {
    box-shadow: none;
  }

  .table .thead-dark th {
    color: #fff;
    background-color: var(--dark);
    border-color: #32383e;
  }

  @media only screen and (max-width: 1024px) {
    table,
    thead,
    tbody,
    th,
    td,
    tr {
      display: block;
    }
    thead tr {
      position: absolute;
      top: -9999px;
      left: -9999px;
    }

    tr {
      border: 1px solid var(--border);
    }

    td {
      border: none;
      border-bottom: 1px solid var(--border);
      position: relative;
    }
  }
</style>

<%- include('../layout/adminLayout/adminFooter.ejs') %>
