<%- include('../layout/userLayout/userHeaderMini.ejs') %>

<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
  integrity="sha384-pzjw8s+Mm1zZuP6H4Knj3kTG5E5JLlcew+uvWpjQkPrBnq9vFLnqz7u5krG1aD44"
  crossorigin="anonymous"
/>

<% productData.forEach((product) => { %>
<div class="bg-light py-3">
  <div class="container">
    <div class="row">
      <div class="col-md-12 mb-0">
        <a href="/shop" class="border-shadow">
          <span class="text-gradient"
            ><i class="fa-solid fa-arrow-left"></i> Go back</span
          >
        </a>
        <strong class="text-black"></strong>
      </div>
    </div>
  </div>
</div>

<div class="site-section">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <img
          src="/images/<%=product.image %>"
          style="width: 25rem; height: auto"
          alt="Image"
          class="img-fluid"
        />
      </div>

      <div class="col-md-6" style="margin-top: 1rem">
        <button
          onclick="addToWishlist('<%=product._id %>')"
          class="btn btn-outline-success"
          style="margin-bottom: 6rem; margin-left: 23rem"
        >
          Add to wishlist
        </button>
        <h2 class="text-black"><%= product.name %></h2>
        <br />
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur,
          vitae, explicabo? Incidunt facere, natus soluta dolores iusto!
          Molestiae expedita veritatis nesciunt doloremque sint asperiores fuga
          voluptas, distinctio, aperiam, ratione dolore.
        </p>
        <p class="mb-4">
          Ex numquam veritatis debitis minima quo error quam eos dolorum quidem
          perferendis. Quos repellat dignissimos minus, eveniet nam voluptatibus
          molestias omnis reiciendis perspiciatis illum hic magni iste, velit
          aperiam quis.
        </p>
        <br />
        <p><strong class="text-primary h4">₹<%= product.price %></strong></p>
        <br />

        <button
          onclick="addToCart('<%=product._id %>')"
          class="buy-now btn btn-block mb-4 btn-primary"
        >
          Add To Cart
        </button>
        <% }); %>
      </div>
    </div>
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

<script>
  function addToCart(productId) {
    console.log("WHY?");
    $.ajax({
      url: "/add-to-cart/" + productId,
      method: "get",
      dataType: JSON,
      success: function (res) {
        console.log(productId, "product Id");
        console.log(res, "response....");

        if (res && res.error) {
          // Check if the response contains an error message
          alert(res.message); // Display the error message
        } else {
          alert("Product added to cart successfully..!");
          window.location.href = "/cart";
        }
      },
      error: function (xhr, status, error) {
        console.error("AJAX Error:", xhr, status, error);

        if (
          xhr.responseJSON &&
          xhr.responseJSON.error &&
          xhr.responseJSON.message === "Product not in stock"
        ) {
          alert("This product is not in stock.");
          window.location.href = "/shop";
        } else {
          alert("Please login and buy products.");
          window.location.href = "/login";
        }
      },
    });
  }

  function addToWishlist(productId) {
    $.ajax({
      url: "/add-to-wishlist/" + productId,
      method: "get",
      contentType: "application/json",
      success: function (res) {
        if (res && res.error) {
          alert(res.message);
        } else {
          alert("Product added to wishlist successfully");
        }
      },
      error: function (xhr, status, error) {
        console.error("Ajax Error", xhr, status, error);
        if (
          xhr.responseJSON &&
          xhr.responseJSON.error &&
          xhr.responseJSON.message === "Product not in stock"
        ) {
          alert("This product is not in stock.");
          window.location.href = "/shop";
        } else {
          alert("Please login and buy products.");
          window.location.href = "/login";
        }
      },
    });
  }
</script>

<%- include('../layout/userLayout/userFooter.ejs') %>
